body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #1e293b;
  padding: 25px;
  border-radius: 12px;
  width: 300px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

input[type="number"] {
  width: 60px;
  padding: 5px;
  margin: 10px 0;
}

.opções {
  text-align: left;
  margin: 10px 0;
}

button {
  background: #22c55e;
  border: none;
  padding: 10px;
  width: 100%;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: #16a34a;
}

.senha {
  margin-top: 15px;
  background: #0f172a;
  padding: 10px;
  border-radius: 6px;
  word-break: break-all;
}